{% extends 'layout.html' %}

{% block body %}
<form>
    <table align="center">
        <tr>
            <td>
               
                <h5>Formulario de Consulta.</h5>
                <p>Actualmente tenemos {{ num_count }} de ciudadanos registrad@s en la Base de datos.</p>
                <p>Haga click en los botones de abajo si desea realizar alguna consulta rápida.</p>
                <a href="/provincias"><button>Provincias</button></a>
                <a href="/cantones"><button>Cantones</button></a>
                <a href="/distritos"><button>Distritos</button></a>
                <a href=""><button>Personas</button></a>
               
            </td>
        </tr>
        <tr>
           
            <td>
                <hr></hr>
                <p>Haga click en el botón de abajo si desea realizar alguna consulta personalizada</p>
                <a href=""><button>Consulta personalizada</button></a>
            </td>
        </tr>
    </table>
</form>
    {% endblock %}
